.search-bar {
    width: 1343px;
    margin: 0 auto;
    height: 50px;
}
.container-left {
    width: 180px;
    margin: 0 auto;
    border: solid gray;
    border-style: outset;
    padding: 10px;
    box-shadow: 5px 10px #525270;
}
.container-bottom {
    width: 820px;
    margin: 0 auto;
    border: solid gray;
    border-style: outset;
    padding: 10px;
    box-shadow: 5px 10px #525270;
}
.container-right {
    width: 180px;
    margin: 0 auto;
    border: solid gray;
    border-style: outset;
    padding: 10px;
    box-shadow: 5px 10px #525270;
}
body {
    display: flex;
    flex-direction: column;
    }
.left {
    float: left;
}
.right {
    float: right;
}
.main-container {
    display: flex;
    justify-content: center;
}
.search-bar form input[type=text] {
    padding: 14px;
    border: none;
    font-size: 18px;
    width: 1065px;
}
.search-bar form button {
    border: none;
    cursor: pointer;
    background: rgb(240, 229, 229);
    
}
.search-bar form span a {
    text-decoration: none;
    text-transform: capitalize;
    color: aqua;
    margin-left: 20px;
    font-size: 20px;
}
.search-bar form span a {
    padding: 17px;
    background-color: black;
}
.container-left ul li img {
    width: 180px;
    height: 180px;
}
.container-right ul li img {
    width: 180px;
    height: 180px;
}
.nav-menu {
    display: flex;
    justify-content: center;
}
.nav-menu li {
    padding: 20px;
    font-size: 20px;
}
nav {
    background-color: black;
    box-shadow: 5px 10px #525270;
}
.nav-menu li:hover {
    background: rgb(255, 255, 255);
    color: black;
    transition: all 1s;
}
.nav-menu li a {
    text-decoration: none;
    color: antiquewhite;
    text-transform: capitalize;
}
.nav-menu li a:hover {
    color: black;
}
.active {
    background-color: rgb(110, 166, 212);
}
.news-feed {
    margin: 30px 0 0 0;
}
.news-feed div {
    text-align: center;
    border-bottom: 5px solid gray;
    padding: 0 0 7px 0;
}
.news-feed div h2 {
    text-transform: capitalize;
    font-size: 28px;
}
.news-feed div img {
    width: 800px;
    height: 450px;
    margin: 10px 0 0 0;
}
.news-feed div p {
    text-transform: capitalize;
    margin: 10px 0 0 0;
}
.end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(37, 35, 31);
    margin: 10px 0 0 0;
}
.end div{
    width: 490px;
}
.end div ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
 .fa-facebook {
    background: #3B5998;
    color: white;
  }  
 .fa-youtube {
    background: #bb0000;
    color: white;
  }
 .fa-instagram {
    background: #125688;
    color: white;
  }  